.mobile-control-wrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgb(173, 208, 173);
  padding: 1em;
  box-sizing: border-box;
}

.drop-zone-container-wrapper {
  width: 100%;
  border: 5px dashed black;
  padding: 1em;
  box-sizing: border-box;
}
